@page "/arena/tournaments"

<h1>Arena Tournaments</h1>

<p>Arena tournaments page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tournaments</h5>
        <p class="card-text">Tournament brackets and schedules will be displayed here.</p>
    </div>
</div>
