@page "/arena/ladders"

<h1>Arena Ladders</h1>

<p>Arena ladder rankings page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ladder Rankings</h5>
        <p class="card-text">Ladder competition standings will be displayed here.</p>
    </div>
</div>
