@page "/arena"

<h1>Arena Overview</h1>

<p>Arena information page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Arena Details</h5>
        <p class="card-text">Arena overview and statistics will be displayed here.</p>
    </div>
</div>
