@page "/arena/duels"

<h1>Arena Duels</h1>

<p>Arena duels page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Duels</h5>
        <p class="card-text">Head-to-head duel challenges and results will be displayed here.</p>
    </div>
</div>
