@page "/fans"

<h1>Fans</h1>

<p>Fan information page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Fan Base</h5>
        <p class="card-text">Fan mood, supporter clubs, and attendance will be displayed here.</p>
    </div>
</div>
