@page "/mailbox"

<h1>Mailbox</h1>

<p>Messages and notifications page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Messages</h5>
        <p class="card-text">Your inbox and sent messages will be displayed here.</p>
    </div>
</div>
