@page "/players"

<h1>Players</h1>

<p>Senior squad management page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Squad List</h5>
        <p class="card-text">Player roster, skills, and details will be displayed here.</p>
    </div>
</div>
