@page "/transfers"

<h1>Transfer Market</h1>

<p>Transfer market and player trading page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Available Players</h5>
        <p class="card-text">Available players and transfer options will be displayed here.</p>
    </div>
</div>
