@page "/youth/training"

<h1>Youth Training</h1>

<p>Youth training management page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Youth Training Plan</h5>
        <p class="card-text">Youth training settings and progress will be displayed here.</p>
    </div>
</div>
