@page "/youth/series"

<h1>Youth Series</h1>

<p>Youth league standings page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Youth League Table</h5>
        <p class="card-text">Youth league standings and results will be displayed here.</p>
    </div>
</div>
