@page "/youth"

<h1>Youth Squad</h1>

<p>Youth player development page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Youth Players</h5>
        <p class="card-text">Youth squad investment and player development will be displayed here.</p>
    </div>
</div>
