@page "/youth/players"

<h1>Youth Players</h1>

<p>Youth academy players page. Coming soon.</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Youth Squad</h5>
        <p class="card-text">Youth player roster and development will be displayed here.</p>
    </div>
</div>
