<nav class="top-nav-bar">
    <div class="top-nav-left">
        <a href="/" class="top-nav-tab active">My Club</a>
        <span class="top-nav-tab disabled">World</span>
        <span class="top-nav-tab disabled">Community</span>
        <span class="top-nav-tab disabled">Forum</span>
    </div>

    <div class="top-nav-right">
        <span class="top-nav-tab disabled">Help</span>
    </div>
</nav>
