@using Hattrick.Components.Shared.Layout
@inherits LayoutComponentBase

<div class="app-layout">
    <HeaderBar TeamName="My Club" TeamStatus="Season 1, Week 1" />
    <TopNavBar />

    <div class="app-body">
        <aside class="sidebar">
            <NavMenu ClubName="FC Nordheim" />
        </aside>

        <main class="main-content">
            @Body
        </main>
    </div>
</div>
